* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0ecff;
}

/* Start The Card Section */
.card .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* End The Card Section */
