* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0ecff;
}

/* Start The Card Section */
.logout__section {
    min-width: 100px;
    margin-left: 5px;
    display: none !important;
}

.card .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* End The Card Section */
